<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<nav th:fragment="navbar">
		<div class="navbardiv">
			<div class="navbardiv1">
				<div class="navbardiv1_logo"></div>
				<div class="navbardiv1_logotoolstrip">
					<p class="navbardiv1_logotoolstripcontent">Smart Contact Manager</p>
				</div>
				<div class="navbardiv1_search">
					<div class="navbardiv1_searchinputdiv">
						<input class="navbardiv1_searchinputdivinput" type="text" placeholder="Search Contact">
					</div>					
					<div class="navbardiv1_searchicon">
						<div class="navbardiv1_searchiconimage"></div>
					</div>
				</div>
			</div>
			<div class="navbardiv2"></div>
		</div>		
	</nav>
</body>
</html>



