<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<nav class = "welcomenavbar" th:fragment="welcomenavbar">
		<div class="navbardiv">
			<div class="navbardiv1">
				<div class="navbardiv1_logo"></div>
				<div class="navbardiv1_logotoolstrip">
					<h1  class="navbardiv1_logotoolstripcontent">Smart Contact Manager</h1>					
				</div>				
			</div>
			<div class="navbardiv2 welcomenavbardiv2">				
				<a th:href="@{/login}" class="link">Sign In</a>
				<a th:href="@{/register}" class="link">Sign Up</a>
			</div>
		</div>		
	</nav>
	
	<nav th:fragment="usernavbar">
		<div class="navbardiv">
			<div class="navbardiv1">
				<div class="navbardiv1_logo"></div>
				<div class="navbardiv1_logotoolstrip">
					<p class="navbardiv1_logotoolstripcontent">Smart Contact Manager</p>
				</div>
				<div class="navbardiv1_search">
					<div class="navbardiv1_searchinputdiv">
						<input class="navbardiv1_searchinputdivinput" type="text" placeholder="Search Contact">
					</div>					
					<div class="navbardiv1_searchicon">
						<div class="navbardiv1_searchiconimage"></div>
					</div>
				</div>
			</div>
			<div class="navbardiv2">
				<div class="navbardiv2_total">
					<label for="navbardiv2_totalp" style="font-weight: 600; font-size: 100%">Total Contacts : </label>
					<p th:text="${totalcontacts}" id="navbardiv2_totalp">						
				</div>
				<div class="navbardiv2_new">
					<p class="navbardiv2_new_p">+ New</p>
				</div>
				<div class="navbardiv2_profile"></div>
				<div class="navbardiv2_profiletoolstrip">
					<p th:text="${username}" class="navbardiv1_logotoolstripcontent"></p>								
				</div>
			</div>
		</div>		
	</nav>	
</body>
</html>



