<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>User Info</title>
<link rel="stylesheet" th:href="@{/style/style.css}">
</head>
<body class="contactinfobody">
	<div class="contactinfodiv">
		<div class="contactinfodivheader">
			<div class="contactinfodivheaderimg">
				<img src="../images/employee.png" alt="Not Found">
				<div>
					<img src="../images/copy-image.svg" alt="Not Found">
				</div>
			</div>
			<div class="contactinfodivheaderinfo">
				<button>Edit Status</button>
			</div>
		</div>
		<hr>
		<div class="contactinfodivbody">
			<div>
				<table>
					<tr>
						<td>
							<label>Name</label> 
							<img src="../images/pen-solid.svg">
						</td>						
					</tr>
					<tr>						
						<td><input th:value="${contactinfo.name}" type="text" disabled></td>
					</tr>
					<tr>
						<td>
							<label>Occupation</label>
							<img src="../images/pen-solid.svg">
						</td>						
					</tr>
					<tr>
						<td><input th:value="${contactinfo.occupation}" type="text" disabled></td>						
					</tr>
					<tr>
						<td><label>Job Title</label><img src="../images/pen-solid.svg"></td>						
					</tr>
					<tr>
						<td><input
							th:value="${contactinfo.jobtitle}" type="text" disabled></td>						
					</tr>
					<tr>
						<td><label>Mobile</label><img src="../images/pen-solid.svg"></td>						
					</tr>
					<tr>
						<td><input
							th:value="${contactinfo.mobile}" type="text" disabled></td>						
					</tr>
					<tr>
						<td><label>Address</label><img src="../images/pen-solid.svg"></td>						
					</tr>
					<tr>
						<td><input
							th:value="${contactinfo.address}" type="text" disabled></td>						
					</tr>
					<tr>
						<td><label>Email</label><img src="../images/pen-solid.svg"></td>
						<td></td>
					</tr>
					<tr>
						<td><input
							th:value="${contactinfo.email}" type="text" disabled></td>						
					</tr>
					<tr>
						<td><label>Website</label><img src="../images/pen-solid.svg"></td>						
					</tr>
					<tr>
						<td><input
							th:value="${contactinfo.website}" type="text" disabled></td>
						<td></td>
					</tr>
				</table>
			</div>
			<!-- 
            <div>
            	<input th:value="${contactinfo.name}" type="text"> 
            	<input th:value="${contactinfo.occupation}" type="text">
            	<input th:value="${contactinfo.jobtitle}" type="text">
            	<input th:value="${contactinfo.mobile}" type="text">
            	<input th:value="${contactinfo.address}" type="text">
            	<input th:value="${contactinfo.email}" type="text">
            	<input th:value="${contactinfo.website}" type="text">               
            </div>-->
		</div>
	</div>
</body>
</html>