<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>User Info</title>
<link rel="stylesheet"  th:href="@{/style/style.css}">
</head>
<body class="contactinfobody">
	<div class="contactinfodiv">
        <div class="contactinfodivheader">
            <div class="contactinfodivheaderimg">
                <img src="../images/employee.png" alt="Not Found">
            </div>
            <div class="contactinfodivheaderinfo">
                <p>Address</p>
            </div>
        </div>
        <div class="contactinfodivbody">
            
        </div>
    </div>
</body>
</html>