<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Register New User</title>
<link rel="stylesheet" href="style/style.css">
</head>
<body class="registerbody">
	<div class="registersuccessdiv" th:if="${param.success}">
		<p class="registersuccessdivp1">User is registered.</p><hr class="registersuccessdivhr">		
		<a class="registersuccessdivp2" th:href="@{/login}">LogIn</a>
	</div>
	<div class="registercontainer">
		<p class="registercontainerp">Sign Up</p>
		<form th:action="@{/users/newregistration}" method="post" th:object="${newuser}">
			<label class="registerelements registerlabel" for="name">Name : </label>
			<input class="registerelements registerinput" type="text" id="name" name="name" th:value="${name}">
			<label class="registerelements registerlabel" for="username">User Name : </label>
			<input class="registerelements registerinput" type="text" id="username" name="username" th:value="${username}">
			<label class="registerelements registerlabel" for="email">Email : </label>
			<input class="registerelements registerinput" type="email" id="email" name="email" th:value="${email}">
			<label class="registerelements registerlabel" for="pass">Password : </label>
			<input class="registerelements registerinput" type="password" id="pass" name="password" th:value="${password}">
			<label class="registerelements registerlabel" for="address">Address : </label>
			<input class="registerelements registerinput" type="text" id="address" name="address" th:value="${address}">
			<label class="registerelements registerlabel" for="desc">About : </label>
			<textarea rows="4" cols="35" id="desc" name="description" th:value="${description}"></textarea>
			<button class ="registerbutton" type="submit">Register</button>
		</form>
	</div>
</body>
</html>